.heading{

    color:Green;

}

.red{
   
   color:red;
}

.yellow{
 
    color:yellow;
}

.blue{

    color:blue;
}

.left{

   text-align:left;

}

.center{

     text-align:center;
}

.right{
    
    text-align:right;

}

.alignment{

    margin-left:40%;
    margin-right:40%;
    margin-top:10%;
    margin-bottom:10%;
}


h2{   

    text-align:center;
    margin-top:2%;
}


